<mat-toolbar color="primary">
    <span class="fill-remaining-space">Add Task</span>
  </mat-toolbar>
  

<mat-sidenav-container>
    <mat-sidenav-content>
      <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="form">        
        <!-- Desc -->
        <mat-form-field class="example-full-width form-element"> 
          <input matInput placeholder="Enter the desc" formControlName="description">
          <mat-error *ngIf="errorHandling('description', 'required')">
            You must provide a <strong>description</strong>
         </mat-error>
        </mat-form-field>
  
        <mat-form-field fxFlex class="form-element">
            <mat-label>Choose an option</mat-label>
            <mat-select [(value)]="importance" formControlName="importance">
              <mat-option disabled selected>Select any option</mat-option>      
              <mat-option value="low">Low</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="high">High</mat-option>
            </mat-select>
          </mat-form-field>

        <!-- Date picker -->
    <mat-form-field fxFlex class="form-element">
    <input matInput readonly [matDatepicker]="picker" formControlName="duedate"
    (dateChange)="date($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

        
        <!-- Submit -->
        <div class="button-wrapper">
          <button mat-raised-button color="primary" class="button" type="submit">Add Task</button>
        </div>
  
      </form>
    </mat-sidenav-content>
  </mat-sidenav-container>